<nav class="nav">
    <h1>Tech Lanka</h1>
    <div class="nav.search">
        <input type="text" placeholder="Search for Products" />
        <button>Search</button>
    </div>
    <nav>
        <a class="button" href="/home">Home</a> |
        <a class="button" href="/seller">Seller</a>
      </nav>

    <!-- <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/seller">Seller</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Cart</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul> -->
</nav>