<div class="debtor-container">
  <h2>Debtors Follow-up</h2>

  <div class="filters">
    <input type="text" placeholder="Search by Debtor ID" [(ngModel)]="filterDebtorId"/>
     <!-- (input)="applyFilters()" /> -->
    <input type="date" [(ngModel)]="filterDueDate" />
     <!-- (change)="applyFilters()" /> -->
  </div>

  <!-- Table -->
  <table>
    <thead>
      <tr>
        <th>Debtor ID</th>
        <th>Name</th>
        <th>Purchase Date</th>
        <th>Total Amount</th>
        <th>Advanced Payment</th>
        <th>Due Date</th>
        <th>Paid Amount</th>
        <th>Have to Pay</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let order of (dueOrders$ | async)">
        <td>{{ getPrefixedDebtorId(order.user.id) }}</td>
        <td>{{ order.user.firstName }} {{ order.user.lastName }}</td>
        <td>2025/02/09</td>
        <td>Rs.255000</td>
        <td>Rs.50000</td>
        <td>2026/02/09</td>
        <td>Rs.155000</td>
        <td>Rs.100000</td>
      </tr>
    </tbody>
  </table>
</div>