<section class="contact-section">
    <h2 >Contact Us</h2>
  
    <div class="contact-container">
      <div class="contact-info">
        <h3 >Get in Touch</h3>
        <p><strong >Address:</strong> No.45A,Main Street, Colombo, Sri Lanka</p>
        <p><strong >Phone:</strong> +94 77 455 4548,+94 11 856 4520</p>
        <p><strong >Email:</strong> {{ 'techlanka@lk' }}</p>
        <p><strong >Message:</strong>We provide wide range of  high-quality electrica goods to meet all your home and business needs. Our friendly and experienced team is here to help you find exactly what you're looking for!</p>
      </div>
  
      <form [formGroup]="contactUsForm" class="contact-form" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="userId" />

        <label for="name" >Your Name</label>
        <input type="text" formControlName="name" required readonly />
  
        <label for="email" >Your Email</label>
        <input type="email" formControlName="email" required />
  
        <label for="message" >Your Message</label>
        <textarea formControlName="message" rows="5" required></textarea>
  
        <button type="submit" >Send Message</button>
      </form>
    </div>
  </section>
  
