<!-- Header -->
<header class="navbar">
  <div class="logo">⚡ Tech Lanka</div>

  <div class="search-container">
    <input type="text" placeholder="Search products..." />
    <button class="search-btn">🔍</button>
  </div>

  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="products">Products</a>
    <a routerLink="brands">Brands</a>
    <a routerLink="about-us">About Us</a>
    <a routerLink="contact-us">Contact Us</a>
    <a *ngIf="user" routerLink="cart">🛒 Cart({{ cartItemCount$ | async }})</a>
    <a *ngIf="!user" routerLink="signin"><i class="icon">👤</i>Sign In</a>
    <a *ngIf="user && user?.role?.accessLevel === 10" routerLink="register">Register Users</a>
    <span *ngIf="user" (click)="logout()" class="logout-button">
      <i class="icon">👤</i> Logout({{ user?.username }})
    </span>
  </nav>
</header>