<!-- Header -->
<header class="navbar">
  <div class="logo">⚡ Tech Lanka</div>

  <div class="search-container">
    <input type="text" placeholder="Search products..." />
    <button class="search-btn">🔍</button>
  </div>

  <nav>
    <a href="/">Home</a>
    <a href="products">Products</a>
    <a href="brands">Brands</a>
    <a href="about-us">About Us</a>
    <a href="contact-us">Contact Us</a>
    <a *ngIf="user" href="cart">Cart</a>
    <a *ngIf="!user" href="signin"><i class="icon">👤</i>Sign In</a>
    <a *ngIf="user && user?.role?.accessLevel === 10" href="register">Register Users</a>
    <span *ngIf="user" (click)="logout()" class="logout-button">
      <i class="icon">👤</i> Logout({{ user?.username }})
    </span>
  </nav>
</header>