<h2 mat-dialog-title>Manage Products</h2>

<mat-dialog-content>
    <form [formGroup]="productForm">
        <input type="text" formControlName="name" placeholder="Product Name" required />
        <input type="text" formControlName="quantity" placeholder="Quantity" required />
        <input type="text" formControlName="price" placeholder="Price" required />
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" required>
                @for (category of (productCategories$ | async); track category) {
                <mat-option [value]="category">{{category.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Brand</mat-label>
            <mat-select formControlName="brand" required>
                @for (brand of (brands$ | async); track brand) {
                <mat-option [value]="brand">{{brand.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <input type="text" formControlName="description" placeholder="Description" required />
        <input type="file" (change)="onFileChange($event)" />
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button style="margin-right: 5px;" mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial (click)="addProduct($event)">Add
        Product</button>
</mat-dialog-actions>