body{
  font-family: sans-serif;  
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;

  &.notification-error {
    --mdc-snackbar-container-color: #f23a2f;
  }

  &.notification-success {
    --mdc-snackbar-container-color: #43a446;
  }
}