<div class="cart-container">

    <h2>Checkout</h2>

    <form [formGroup]="checkoutForm" (ngSubmit)="submitOrder()" class="checkout-form">
        <fieldset>
            <legend>Payment Method:</legend>
            <label *ngFor="let paymentMethod of (paymentMethods$ | async)"><input type="radio"
                    formControlName="paymentMethod" [value]="paymentMethod.code" />{{ paymentMethod.name }}</label>
        </fieldset>

        <div id="payPalButtons" [ngClass]="{
                'element_hidden': checkoutForm.get('paymentMethod')?.value !== 'PAY_NOW'
            }"></div>

        <span *ngIf="checkoutForm.get('paymentMethod')?.value !== 'PAY_NOW'">
            <label for="name">
                Receiver Name:
                <input id="name" formControlName="name" type="text" />

                @if (checkoutForm.get('name')?.invalid && (checkoutForm.get('name')?.touched ||
                checkoutForm.get('name')?.dirty)) {
                <div class="error-message">
                    @if (checkoutForm.get('name')?.hasError('required')) {
                    Receiver name is required.
                    }
                </div>
                }
            </label>

            <label for="email">
                Email:
                <input id="email" formControlName="email" type="email" />

                @if (checkoutForm.get('email')?.invalid && (checkoutForm.get('email')?.touched ||
                checkoutForm.get('email')?.dirty)) {
                <div class="error-message">
                    @if (checkoutForm.get('email')?.hasError('required') ||
                    checkoutForm.get('email')?.hasError('email')) {
                    Valid email is required.
                    }
                </div>
                }
            </label>

            <label for="phone">
                Phone Number:
                <input id="phone" formControlName="phone" type="tel"
                    [required]="checkoutForm.get('paymentMethod')?.value !== 'PAY_NOW'" />

                @if (checkoutForm.get('phone')?.invalid && (checkoutForm.get('phone')?.touched ||
                checkoutForm.get('phone')?.dirty)) {
                <div class="error-message">
                    @if (checkoutForm.get('phone')?.hasError('required')) {
                    Valid phone number is required.
                    }
                </div>
                }
            </label>

            <label for="nic">
                NIC Number:
                <input id="nic" formControlName="NIC" type="tel"
                    [required]="checkoutForm.get('paymentMethod')?.value !== 'PAY_NOW'" />

                @if (checkoutForm.get('NIC')?.invalid && (checkoutForm.get('NIC')?.touched ||
                checkoutForm.get('NIC')?.dirty)) {
                <div class="error-message">
                    @if (checkoutForm.get('NIC')?.hasError('required')) {
                    NIC is required.
                    }
                </div>
                }
            </label>

            <label for="address">
                Address:
                <textarea id="address" formControlName="address"></textarea>

                @if (checkoutForm.get('address')?.invalid && (checkoutForm.get('address')?.touched ||
                checkoutForm.get('address')?.dirty)) {
                <div class="error-message">
                    @if (checkoutForm.get('address')?.hasError('required')) {
                    Address is required.
                    }
                </div>
                }
            </label>

            <label for="installments">
                Installments (months):
                <input id="installments" formControlName="installments" type="number" min="1" />

                @if (checkoutForm.get('installments')?.invalid && (checkoutForm.get('installments')?.touched ||
                checkoutForm.get('installments')?.dirty)) {
                <div class="error-message">
                    @if (checkoutForm.get('installments')?.hasError('required')) {
                    NIC is required.
                    }
                    @if (checkoutForm.get('installments')?.hasError('min')) {
                    At least 1 installment is required.
                    }
                </div>
                }
            </label>

            <label for="instructions">
                Special Instructions:
                <textarea id="instructions" formControlName="instructions"></textarea>
            </label>

            <button type="submit" class="btn-place-order" [disabled]="checkoutForm.invalid">Place Order</button>
        </span>
    </form>

    <h2>Order Summary</h2>

    <table class="cart-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of order?.items || []">
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>Rs.{{ item.product.price | number : '1.2-2' }}</td>
                <td>Rs.{{ item.quantity * item.product.price | number : '1.2-2'}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:right;"><strong>Total</strong></td>
                <td>Rs.{{ orderTotal | number : '1.2-2' }}</td>
            </tr>
        </tbody>
    </table>
</div>