<div class="cart-container">

    <h2>Checkout</h2>

    <form [formGroup]="checkoutForm" (ngSubmit)="submitOrder()" class="checkout-form">
        <label>
            Receiver Name:
            <input formControlName="name" type="text" />
        </label>

        <label>
            Email:
            <input formControlName="email" type="email" />
        </label>

        <label>
            Phone Number:
            <input formControlName="phone" type="tel" />
        </label>

        <label>
            NIC Number:
            <input formControlName="NIC" type="tel" />
        </label>

        <label>
            Address:
            <textarea formControlName="address"></textarea>
        </label>

        <label>
            Special Instructions:
            <textarea formControlName="instructions"></textarea>
        </label>

        <fieldset>
            <legend>Payment Method:</legend>
            <label><input type="radio" formControlName="paymentMethod" value="storePickup" /> Store Pickup</label>
            <label><input type="radio" formControlName="paymentMethod" value="paynow" /> Pay Now</label>
            <label><input type="radio" formControlName="paymentMethod" value="buyOnCredit" /> Buy on Credit</label>
        </fieldset>

        <div id="payPalButtons" [ngClass]="{
                'paypal_hidden': checkoutForm.get('paymentMethod')?.value !== 'paynow'
            }"></div>

        <button *ngIf="checkoutForm.get('paymentMethod')?.value !== 'paynow'" type="submit"
            [disabled]="checkoutForm.invalid">Place Order</button>
    </form>

    <h2>Order Summary</h2>

    <table class="cart-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of order?.items || []">
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>Rs.{{ item.product.price | number : '1.2-2' }}</td>
                <td>Rs.{{ item.quantity * item.product.price | number : '1.2-2'}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:right;"><strong>Total</strong></td>
                <td>Rs.{{ orderTotal | number : '1.2-2' }}</td>
            </tr>
        </tbody>
    </table>
</div>